html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  user-select: none;
}

button {
  font: inherit;
}
